@import "https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css";

.backtotop {
            position: fixed;
            bottom: 2em;
            right: 2em;
            text-decoration: none;
            color: white;
            background-color: rgba(0, 0, 0, 0.3);
            font-size: 12px;
            padding: 1em;
            display: none;
        }
        .backtotop:hover {
            background-color: rgba(0, 0, 0, 0.6);
        }
